@config "../tailwind.config.js";
@import "tailwindcss";

/* Base mínima: deixa o Tailwind/Componentes controlarem o tema */
html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* Opcional: melhora renderização de texto */
:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
